body {
    background-image:  url(../img/ironthrone.jpg);
    background-size:   cover;
    background-repeat: no-repeat;
}

h1 {
	font-family: Cardo;
	color: white;
	text-align: center;
	font-size: 100px;
	margin-top: -30px;

}

h2 {
	font-family: Cardo;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: -80px;
}
/*h2:hover {
	-webkit-transform: scale(1,1.2);
}*/

.container {
	position: relative;
	max-width: 612px;
	float: left;
	top:50%;
    left:50%;
    margin:45px 0 0 -306px;
}
/*.houses {
	max-width: 320px;
	float: left;
	height: auto;
}*/

.cells {
	width: 150px;
	height: 150px;
	background-color: black;
	color: white;
	float: left;
	margin: 25px;
	border: 2px solid white;
}
.lannister {
	background-image:url(../img/lannister-small.jpg);
	background-size: contain;
	font-size: 0;
}
.stark {
	background-image:url(../img/stark-small.jpg);
	background-size: contain;
	font-size: 0;
}
.row{clear:both;}

.player {
	opacity: 0.6;
}