body {
    background-image:  url(../img/ironthrone.jpg);
    background-size:   cover;
    background-repeat: no-repeat;
}

h1 {
	font-family: Cardo;
	color: white;
	text-align: center;
	font-size: 100px;
}

.container {
	position: absolute;
	max-width: 498px;
	float: left;
	top:50%;
    left:50%;
    margin:-30px 0 0 -249px;

}
/*.houses {
	max-width: 320px;
	float: left;
	height: auto;
}*/

.cells {
	width: 150px;
	height: 150px;
	background-color: black;
	color: white;
	float: left;
	margin: 5px;
	border: 2px solid white;
}
.lannister {
	background-image:url(../img/lannister-small.jpg);
	background-size: contain;
	font-size: 0;
}
.stark {
	background-image:url(../img/stark-small.jpg);
	background-size: contain;
	font-size: 0;
}
.row{clear:both;}

.player {
	opacity: 0.6;
}